<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Favorita</ion-label>
        <ion-toggle slot="start"></ion-toggle>
      </ion-item>
        <ion-button expand="block">
             <ion-icon slot="start" name="save" ></ion-icon>
             Salvar
        </ion-button>
         
    </ion-list>
</ion-content>
