<ion-header>
  <ion-toolbar>
    <ion-title>
      Amigos
    </ion-title>
  </ion-toolbar>
</ion-header>
 
 
<ion-content class="ion-padding">
 
 
 <h1>Ranking:</h1>
 
 
    <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar>
          <img src="https://randomuser.me/api/portraits/women/2.jpg" />
        </ion-avatar>
      </ion-col>
  
      <ion-col>  
        <ion-button (click)="funcao1()">Ana Yume</ion-button> 
  
  <ion-progress-bar value="0.9"></ion-progress-bar> 
</ion-col>
</ion-row>
</ion-card-header>
 
  <ion-card-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/women/17.jpg" />
      </ion-avatar>
    </ion-col>
 
    <ion-col>
      <ion-button (click)="funcao2()">Juliana Amorim</ion-button>
<ion-progress-bar value="0.7"></ion-progress-bar>
</ion-col>
</ion-row>
</ion-card-header>
 
<ion-card-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/women/34.jpg" />
      </ion-avatar>
    </ion-col>
 
    <ion-col>
<ion-button (click)="funcao3()">Bianca Cardoso</ion-button>
<ion-progress-bar value="0.6"></ion-progress-bar>
 
</ion-col>
</ion-row>
</ion-card-header>
 
<ion-card-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/men/2.jpg" />
      </ion-avatar>
    </ion-col>
    
 
    <ion-col>
      <ion-button (click)="funcao4()">Henrique Dias</ion-button>
<ion-progress-bar value="0.4"></ion-progress-bar>
</ion-col>
</ion-row>
<br>
<br>

<ion-button color="success">ir para regras do jogo</ion-button>

</ion-card-header>

