

<ion-header>
  <ion-toolbar>   
     <ion-buttons slot="start"> 
    <ion-back-button defaultHref="/status"></ion-back-button>
  </ion-buttons>
    <ion-title>
      Regras
    </ion-title>
  </ion-toolbar>
</ion-header>
 
 
<ion-content class="ion-padding">
 
<div class="ocean">
  <div class="waves"></div>

  <h1>Como jogar:</h1>
 
 
 Elemencats é um jogo de cartas de elementos (Ar e fogo). 
 
 <br>
 <br>
 <ion-icon name="water-outline"></ion-icon>
  Ar derrota fogo 
 <br>
 <br>
 <ion-icon name="flame-outline"></ion-icon>
 Fogo derrota ar
 <br>
 <br>
 
<strong> Historia do Jogo </strong>

 <p>Foi colocada que cada elemento AR e Fogo iria colaborar para 
   construção da terra, porém esses dois elementos começaram a entrar em uma logica 
   de disputa , onde um acha que precisa eliminar o outro
 </p>

  <div class="container bottom ion-text-center">
    
  </div>
</div>

</ion-content>