

<ion-header>
  <ion-toolbar color="primary">   
     <ion-buttons slot="start"> 
    <ion-back-button defaultHref="/status"></ion-back-button>
  </ion-buttons>
    <ion-title>
      Regras
    </ion-title>
  </ion-toolbar>
</ion-header>
 
 
<ion-content class="ion-padding">
 
<div class="ocean">
  <div class="waves"></div>

  <div class="container bottom ion-text-center">
    
  </div>
</div>
<ion-card>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size='auto'>
  </ion-col>
    <ion-col>
    <br>
    <ion-card-title><strong>Como jogar: </strong></ion-card-title>
  
    <ion-card-title><p>Elemencats é um jogo de cartas de elementos de Água e Fogo.</p></ion-card-title>
    
    <ion-icon name="water-outline"></ion-icon>
     Água derrota fogo 
    <br>
    <br>
    <ion-icon name="flame-outline"></ion-icon>
    Fogo derrota água
    <br>
    <br>
    <br>
    <br>
    <ion-card-title><strong>História do Jogo </strong></ion-card-title>
  
    <p><strong>Foi colocado que cada elemento: Água e Fogo, iria colaborar para 
      construção da terra, porém esses dois elementos começaram a entrar em uma lógica 
      de disputa, onde um acredita que precisa eliminar o outro.</strong></p>
    
  </ion-col>
  </ion-row>
  </ion-card-header>
</ion-card>
<ion-button routerLink="/musica" expand="block">adicionar musica favorita</ion-button>

</ion-content>